/* add CSS class and element and selectors here */
@import url('https://fonts.googleapis.com/css?family=Galada');
body {
      background-color: lightblue;
    }
#tite-section{font-size: 200%;}
.info-section{font-family: Galada;}
